<form [formGroup]="jobApplicationForm" (ngSubmit)="applyForJob(jobApplicationForm)">

    <h3>Apply For Job</h3>


    <select  id="jobPositionId" for="jobPositionId" formControlName="jobPositionId" required>Select Job Position</select>
    <option *ngFor="let p of positions" [value]="p.id">{{p.title}}</option>
    <label for="applicantName">applicantName</label>

    <input type="text" id="applicantName" required formControlName="applicantName">

    <button type="submit">Submit</button>
</form>