<form [formGroup]="jobApplicationForm" (ngSubmit)="applyForJob(jobApplicationForm)">

    <h3>Apply For Job</h3>

     <label>Select Job Position</label>
    <select  id="jobPositionId" for="jobPositionId" formControlName="jobPositionId" required>
    <option *ngFor="let p of jobPositions" [value]="p.id">{{p.title}}</option>
</select>
    <br>
    <label for="applicantName">applicantName</label>

    <input type="text" id="applicantName" required formControlName="applicantName">

    <button type="submit">Submit</button>
</form>