

<table>
    <thead>
        <th>Job Title</th>
        <th>Department</th>
        <th>Location</th>
        <th>Responsibilities</th>
        <th>Qualifications</th>
        <th>Application Deadline</th>
        <th>Total Applicants</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr>
        <td>Job Title</td>
        <td>Department</td>
        <td>Location</td>
        <td>Responsibilities</td>
        <td>Qualifications</td>
        <td>Application Deadline</td>
        <td>Total Applicants</td>
        <td>Action</td>
        </tr>
    </tbody>
</table>